@font-face {
    font-family: Goblin;
    src: url(./../fonts/GoblinOne-Regular.ttf);
}

body {
    background-image: url('./../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-family: Goblin;
    margin-top: 0px;
    padding-top: 0;
    margin-bottom: 48px;
}

canvas {
    background-color: black;
    border: 2px solid black;
    border-radius: 4px;
}

@media only screen and (max-width: 740px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}